* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 3px solid #444;
    background-color: #555;
}